# Parametric VaR Model

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from scipy.stats import norm

import matplotlib.pyplot as plt

In [2]:
zero_rates = pd.read_excel("hist_data.xlsm", sheet_name = 'SofrCurve', index_col = 'Tenor')
zero_rates.columns = [col.strftime('%Y-%m-%d') if isinstance(col, dt.datetime) else col for col in zero_rates.columns]

## calculate a(k)

In [3]:
####
#             T      2023-10-30
# Tenor                       
# 1D      0.002778    0.052967
# 1M      0.083333    0.053053
# 2M      0.166667    0.053265
# 3M      0.250000    0.053476
# 6M      0.500000    0.053612
# 9M      0.750000    0.053120
# 1Y      1.000000    0.052245
# 2Y      2.000000    0.047904
###
def cal_v_psofr10(zero_rates1):
    zero_rates = zero_rates1.copy()
    col_T = zero_rates.columns[0]
    col_r = zero_rates.columns[1]
    zero_rates['df'] = np.exp(-zero_rates[col_r]*zero_rates[col_T])
    #1/(1+zero_rates[col_r])**zero_rates[col_T]

    Tl = 1
    Th = 10
    zero_rates1 = zero_rates[(zero_rates[col_T] >= Tl) & (zero_rates[col_T] <= Th)].copy()

    swap_rate = 0.042
    nominal = 1e8
    flt = 1 - zero_rates1["df"].iloc[-1]
    fixed = sum(zero_rates1['df'])*swap_rate
    v_sofr = (flt-fixed)*nominal
    return v_sofr

In [4]:
v_sofr = cal_v_psofr10(zero_rates[["T","2023-10-30"]])
a = []
for i in range(len(zero_rates)):
    zero_rates1 = zero_rates[["T","2023-10-30"]].copy()
    zero_rates1.at[zero_rates1.index[i], '2023-10-30'] += 1e-4
    
    v_sofr1 = cal_v_psofr10(zero_rates1)
    a.append((v_sofr1 - v_sofr)*1e4)
#changing 1bp*1e4 the total value changed

In [5]:
a1 = a+[1e6]*4
a1

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3986006.767041981,
 7631796.779651195,
 10993001.080704853,
 14066553.566618823,
 16854750.986839645,
 19371056.086570024,
 21632335.943877697,
 23653227.56747715,
 25447769.064768218,
 670595262.5624137,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1000000.0,
 1000000.0,
 1000000.0,
 1000000.0]

## whole profolio

In [36]:
r_changes = zero_rates[zero_rates.columns[1:]].T.diff().dropna()
r_changes.index = pd.to_datetime(r_changes.index)

In [32]:
stocks = pd.read_excel("hist_data.xlsm", sheet_name = ['AAPL', 'MSFT', 'F', 'BAC'], index_col = 'Date')
stocks = pd.concat(stocks.values(), keys=stocks.keys(), axis = 1)
stocks = (stocks - stocks.shift(1))/stocks.shift(1)
stocks.dropna(inplace=True)
stocks.index

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
               '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10',
               '2022-11-11', '2022-11-14',
               ...
               '2023-10-17', '2023-10-18', '2023-10-19', '2023-10-20',
               '2023-10-23', '2023-10-24', '2023-10-25', '2023-10-26',
               '2023-10-27', '2023-10-30'],
              dtype='datetime64[ns]', name='Date', length=250, freq=None)

In [45]:
pd.concat([r_changes,stocks],axis = 1)[pd.concat([r_changes,stocks],axis = 1).isna().any(axis=1)]

,1D,1M,2M,3M,6M,9M,1Y,2Y,3Y,4Y,...,19Y,20Y,25Y,30Y,35Y,40Y,"(AAPL, Adj Close)","(MSFT, Adj Close)","(F, Adj Close)","(BAC, Adj Close)"
2022-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019269,0.016997,0.022567,0.007343
2023-04-07,0.000596,-0.000189,-0.001362,-0.001413,0.000175,0.000699,0.000956,0.001328,0.001313,0.001209,...,0.000637,0.000626,0.000542,0.000435,0.000439,0.000472,NaN,NaN,NaN,NaN
2023-06-19,0.000035,0.000088,0.000109,0.000121,0.000143,0.000175,0.000291,0.000363,0.000451,-0.000129,...,-0.000039,-0.000039,-0.000035,-0.000034,-0.000029,-0.000024,NaN,NaN,NaN,NaN
2023-10-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.008451,0.007823,0.005833,0.009206

In [6]:
#zeo_rates
r_changes = zero_rates[zero_rates.columns[1:]].T.diff().dropna()
#stocks

stocks = pd.read_excel("hist_data.xlsm", sheet_name = ['AAPL', 'MSFT', 'F', 'BAC'], index_col = 'Date')

stocks = pd.concat(stocks.values(), keys=stocks.keys(), axis = 1)
stocks = (stocks - stocks.shift(1))/stocks.shift(1)
stocks.dropna(inplace=True)

#mean_p
r_changes.index = stocks.index
daily_changes_mean = pd.concat([r_changes,stocks],axis = 1)
mean_vector = daily_changes_mean.mean()
mean_p = sum(mean_vector*a1)

#cov_p
daily_changes_var = pd.concat([r_changes,stocks],axis = 1)
cov_matrix = daily_changes_var.cov()
var_p = np.array(a1).dot(cov_matrix).dot(np.array(a1))

#VaR95
z_a = norm.ppf(0.05)
p_VaR95 = abs(mean_p + z_a*np.sqrt(var_p))
p_VaR95

926393.2723869501

In [7]:
# #zeo_rates
# r_changes = zero_rates[zero_rates.columns[1:]].T.diff().dropna()
# #stocks
# stocks = pd.read_excel("hist_data.xlsm", sheet_name = ['AAPL', 'MSFT', 'F', 'BAC'], index_col = 'Date')

# #stocks_mean = pd.concat(stocks.values(), keys=stocks.keys(), axis = 1)
# #stocks_mean = np.log(stocks_mean/stocks_mean.shift(1))
# #stocks_mean.dropna(inplace=True)

# stocks_var = pd.concat(stocks.values(), keys=stocks.keys(), axis = 1)
# stocks_var = (stocks_var - stocks_var.shift(1))/stocks_var.shift(1)
# stocks_var.dropna(inplace=True)

# #mean_p
# r_changes.index = stocks_var.index
# daily_changes_mean = pd.concat([r_changes,stocks_var],axis = 1)
# mean_vector = daily_changes_mean.mean()
# #mean_vector[-4:] = np.exp(mean_vector[-4:])-1
# mean_p = sum(mean_vector*a1)

# #cov_p
# daily_changes_var = pd.concat([r_changes,stocks_var],axis = 1)
# cov_matrix = daily_changes_var.cov()
# var_p = np.array(a1).dot(cov_matrix).dot(np.array(a1))

# #VaR95
# z_a = norm.ppf(0.95)
# VaR95 = abs(mean_p + z_a*np.sqrt(var_p))
# VaR95

# Monte Carlo VaR Model

## Full revaluation approach

### method1

In [8]:
#array([-0.00054994, -0.00071541, -0.00065583, -0.00069635, -0.00070323,
#       -0.00071554, -0.00075263, -0.00079857, -0.00083744, -0.00085454])
sofr_info = zero_rates["2023-10-30"][6:16].values
def cal_v_sofr(r_changes):
    
    new_rs = r_changes+sofr_info
    #df = np.power(1/(1+new_rs), np.arange(1,11))
    df = np.exp(-new_rs*np.arange(1,11))

    swap_rate = 0.042
    nominal = 1e8
    flt = 1 - df[-1]
    fixed = sum(df)*swap_rate
    v_sofr = (flt-fixed)*nominal
    return v_sofr

In [9]:
pv = v_sofr + 4*1e6
pv

6442901.99984632

In [10]:
mean_vector = daily_changes_var.mean()
covariance_matrix = daily_changes_var.cov()
num_simulations = int(1e7)
risk_factors_changes = np.random.multivariate_normal(mean_vector, covariance_matrix, num_simulations)

In [11]:
# num_simulations = int(1e7)
# risk_factors = np.random.multivariate_normal(mean_vector, covariance_matrix, num_simulations)
# changes = []
# for i in range(num_simulations):
#     stock_pv = sum((risk_factors[i][-4:]+1)*1e6)
#     sofr_pv = cal_v_sofr(risk_factors[i][6:16])
#     changes.append(stock_pv+sofr_pv-pv)

# # Calculate the 5th percentile
# VaR_95 = np.percentile(np.sort(changes), 5)
# VaR_95

### method2-vectorcal

In [12]:
def cal_vector_sofr(risk_vector_changes):
    
    new_vector_rs = risk_vector_changes[:,6:16]+sofr_info
    #vector_df = np.power(1/(1+new_vector_rs), np.arange(1,11))
    vector_df = np.exp(-new_vector_rs*np.arange(1,11))

    swap_rate = 0.042
    nominal = 1e8
    flt = 1 - vector_df[:,-1]
    fixed = np.sum(vector_df, axis=1)*swap_rate
    vector_sofr = (flt-fixed)*nominal
    return vector_sofr

In [13]:
stock_vector_pv = np.sum(risk_factors_changes[:,-4:]+1,axis=1)*1e6

In [14]:
changes = cal_vector_sofr(risk_factors_changes)+stock_vector_pv-pv
mf_VaR_95 = np.percentile(np.sort(changes), 5)
mf_VaR_95

-931375.7669277196

## Risk-based approach

In [15]:
risk_factors_changes.shape

(10000000, 34)

In [16]:
a1 = np.array(a1)
changes = risk_factors_changes.dot(a1)
mr_VaR_95 = np.percentile(np.sort(changes), 5)
mr_VaR_95

-925981.5497722937

# Historical VaR

## risk_based

In [17]:
h_daily_changes = daily_changes_var.copy()
changes = np.array(h_daily_changes).dot(a1)
hr_VaR_95 = np.percentile(np.sort(changes), 5)
hr_VaR_95

-960687.7194584942

## full revalutation

In [18]:
stock_vector_pv = np.sum(np.array(h_daily_changes)[:,-4:]+1, axis=1)*1e6
changes = cal_vector_sofr(np.array(h_daily_changes))+stock_vector_pv-pv
hf_VaR_95 = np.percentile(np.sort(changes), 5)
hf_VaR_95

-966173.2175561558

In [19]:
{'parametric VaR': p_VaR95,
'Monte Carol VaR Full': mf_VaR_95,
'Monte Carol VaR RiskedBased': mr_VaR_95,
'Historical VaR Full': hf_VaR_95,
'Historical VaR RiskedBAsed': hr_VaR_95
}

{'parametric VaR': 926393.2723869501,
 'Monte Carol VaR Full': -931375.7669277196,
 'Monte Carol VaR RiskedBased': -925981.5497722937,
 'Historical VaR Full': -966173.2175561558,
 'Historical VaR RiskedBAsed': -960687.7194584942}